.Albums {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 55px;
}

.Albums-header {
    flex: none;
    background: #fff;
    height: 55px;
    line-height: 55px;
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    z-index: 101;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(23, 23, 23, 0.3);
    min-width: 1040px;
}

.Albums-list {
    flex: auto;
    background-color: #efefef;
    padding: 30px;
}

.Albums-cover {
    height: 280px;
    background-size: cover;
}

.Album-name {
    display: inline-block;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Album-count {
    color: #999;
    vertical-align: super;
}